body
{
    background-color: #5cdb95;
    
}
h1{
    color: #05386b;
    font-style: normal;
}
h3{
    color: #05386b;
}

table
{
   
    color:brown;
   
    font-size: large;
    font-weight: bold;

}
img{
    height: 30%;
    width: 70%;
    border-radius: 50%;
}
hr
{
    color:#5cdb95;
    border: 0;
}
